<mat-card (click)="openModal(hero)">
    <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title><h2>{{hero.name}}</h2></mat-card-title>
        <mat-card-subtitle>{{hero.primary_class}}{{!hero.secondary_class ? '' : '/' + hero.secondary_class}}
        </mat-card-subtitle>
    </mat-card-header>
    <img class="mainCardImage" mat-card-image [src]="hero.image" [alt]="'Photo of ' + hero.name">
    <mat-card-content>
        <p>Flip for more Details</p>
    </mat-card-content>
</mat-card>
