@import '../../../mq_breakpoints';
:host {
    margin-bottom: 1rem;
    padding: 0 .75rem;
    display: grid;
    @include mq($until: tablet) {
        width: 100%
    }
}

mat-card {
    cursor: pointer;
    max-width: 20rem;
    @include mq($until: tablet) {
        margin: 1rem;
        max-width: none;
    }
}

.mainCardImage {
    height: 25rem;
    width: 21rem;

    @include mq($until: tablet) {
        height: auto;
        width: 100%
    }
}
