.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;

}

.profile-image {
  display: inline;
  margin: 0 auto;
  height: 126%;
  width: 7rem;
}

mat-dialog-content.mat-dialog-content {
  padding: 0;
}

mat-tab-body.mat-tab-body-wrapper {
  padding: 0 2rem;
}