<!--<ul *ngIf="variantObservable">
    <li *ngFor="let variant of variantObservable | async">
        <pre>
            name: {{ variant.name }}
            hp: {{ variant.hp }}
            card_image: {{ variant.card_image }}
            backstory: {{ variant.backstory }}
        </pre>
        <pre *ngFor="let power of variant.powers">
            power name: {{ power.name }}
            power description: {{ power.description }}
        </pre>
    </li>
</ul>
<ul *ngIf="!variantObservable">
    <li>
        <pre>
            No Variants found for this card
        </pre>
    </li>
</ul>-->
<mat-tab-group [color]="'accent'" [backgroundColor]="'primary'">
    <mat-tab label="Profile">
        Profile info goes here. Main stuff.
        <div class="image-cropper">
            <img class="profile-image" [src]="profileInfo.hero.image" [alt]="profileInfo.hero.name"/>
        </div>
        <ul>
            <li>
            </li>
            <li>
                Complexity: {{ profileInfo.hero.complexity }}
            </li>
            <li>
                Box: {{ profileInfo.hero.box }}
            </li>
        </ul>
    </mat-tab>
    <mat-tab *ngFor="let variant of variantObservable | async" [label]="variant.name">
        <div class="image-cropper">
            <img class="profile-image" [src]="variant.card_image" [alt]="variant.name" />
        </div>
        <div>
            <h4>Powers</h4>
            <div *ngFor="let power of variant.powers">
                Name: {{ power.name }}<br />
                Description: {{ power.description }}
            </div>
        </div>
    </mat-tab>
</mat-tab-group>