<!--<div class="filterBar">
    <mat-form-field>
        <mat-select id="filters" [(value)]="selectedFilter" placeholder="All">
            <mat-option *ngFor="let filter of filters" [value]="filter">{{filter}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>-->
<div class="layout">
    <app-sentinels-card *ngFor="let hero of heroes | async" [hero]="hero" [filter]="selectedFilter">
    </app-sentinels-card>
</div>
