<mat-toolbar color="primary">
    <mat-toolbar-row *ngIf="!searchToggleValue">
        <span>{{ title }}</span>
        <span class="spacer"></span>
        <mat-icon title="Search" (click)="toggleSearch()" class="search-icon">search</mat-icon>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="searchToggleValue">
        <app-sentinels-search></app-sentinels-search>
    </mat-toolbar-row>
</mat-toolbar>