.spacer {
    flex: 1 1 auto;
}

mat-toolbar.mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 100;
}

.search-icon {
    cursor: pointer;
}

.searchForm {
    width: 100%;

    .searchInput {
        width: inherit;
    }

    .cross {
        cursor: pointer;
    }
}

app-sentinels-search {
    width: 100%;
    margin-top: .5rem;
    padding: 0 1rem;
}