@import '../../../mq_breakpoints';

.searchForm {
  width: 100%;

  .searchInput {
    width: inherit;
  }

  .cross {
    cursor: pointer;
  }
}

.searchResults {
  position: absolute;
  background: white;
  overflow: auto;
  padding: 0 0 .5rem 0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  .searchListItems {
    margin-top: 2.84rem;
  }

  .searchResultsHeader {
    position: fixed;
    background: #F5F5F5;
    z-index: 2;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  @include mq($from: tablet) {
    width: 85%;
    left: 6rem;
    top: 3.25rem;
    max-height: 42rem;

    .searchResultsHeader {
      width: 85%;
    }
  }

  @include mq($until: tablet) {
    width: 100%;
    left: 0;
    top: 3.25rem;

    .searchResultsHeader {
      width: 100%;
    }
  }
}

.searchResult-item {
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    background: rgba(0,0,0,.04);
  }
}

.searchResult-image {
  width: 50px;
  height: auto;
}

