<form #searchForm name="searchForm" class="searchForm">
    <mat-form-field [floatLabel]="options.value.floatLabel" class="searchInput">
        <input #searchInput matInput autocomplete="off" placeholder="Search the Multiverse">
        <mat-icon title="Close" class="cross" (click)="toggleSearch()" matSuffix="">close</mat-icon>
    </mat-form-field>
</form>

<div #resultsElement *ngIf="displayResults" class="searchResults" [style.height]="isMobile && resultBoxHeight ? resultBoxHeight + 'px' : null" [style.max-height]="!resultBoxHeight ? resultBoxHeight : resultBoxHeight + 'px'">
    <mat-list *ngIf="!noResults">
        <h3 class="searchResultsHeader" mat-subheader>Search Results</h3>
        <div class="searchListItems">
            <mat-list-item (click)="openHeroModal(hero)" class="searchResult-item" *ngFor="let hero of searchResultsList">
                <img class="searchResult-image" [src]="hero.image" [title]="hero.name">
                <h4 mat-line>{{hero.name}}</h4>
                <p mat-line>{{hero.primary_class}}{{!hero.secondary_class ? '' : '/' + hero.secondary_class}}</p>
                <mat-divider></mat-divider>
            </mat-list-item>
        </div>
    </mat-list>

    <mat-list *ngIf="noResults">
        <h3 class="searchResultsHeader" mat-subheader>No Results</h3>
    </mat-list>
</div>