/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './mq_breakpoints';

 body {
     margin: auto;
 }

.layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-gap: 20px;
    min-height: 100vh;
    padding: 20px;
    margin: 5rem 1rem 5rem 1rem;
}
